@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(90deg,
                  hsl(23, 4%, 28%) 0%,
                  hsl(23, 4%, 8%) 100%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 10rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1121px) {
  :root {
    --biggest-font-size: 25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}


/*=============== header ===============*/

.header{
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/* add scroll header js*/
.scroll-header::after{
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(24, 13%, 15%, 0.2);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  top: 0;
  left: 0;
  z-index: -1;
}

.header .nav{
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.header .nav .nav_logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.close_btn,
.toggle_btn{
  display: flex;
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/* navigation for max-width: 1120 px  */
@media (max-width: 1120px){
  .nav_menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: hsla(23, 4%, 8%, .2);
    padding-block: 5.5rem 4.5rem;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    transition: top .4s;
  }
}

.nav_list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}
.nav .nav_list .nav-link{
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s;
}

.nav .nav_list .nav-link:hover{
  color: var(--first-color);
}

.close_btn{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* show   menu */
.show_menu{
  top: 0;
}


/*=====================main home page=========================================== */

.home-container{
  position: relative;
  padding-block: 7rem 1rem;
  row-gap: 2.5rem;
}
.home-content{
  position: relative;
  display: grid;
  justify-self: center;
}

.home_img{
   width: 220px;
}
.home_title{
  font-size: var(--biggest-font-size);
  display: flex;
  column-gap: .25rem;
  color: var(--first-color);
  position: absolute;
  top: -2rem;
  justify-self: center;
}
.home_title span:nth-child(2){
  z-index: -1;
}
.home-tooltip{
  position: absolute;
  top: -0.5rem;
  right: 1.5em;
}
.tooltip-img{
  width: 62px;
}

.tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 4rem;
  font-size: var(--small-font-size);
  position: absolute;
  transform: translate(60px, -41px);
  white-space: nowrap;
}

.home-social{
   display: grid;
   justify-items: center;
   row-gap: 6rem;
   position: absolute;
   top: 9rem;
   left: -1.5rem;
}
.social-text{
  position: relative;
  rotate:90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.social-text::after{
  content:"";
  width: 48px;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  right: -64px;
}

.social-links{
  display: grid;
  row-gap: .75rem;
}
.social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: color .4s
}
.social-link:hover{
  color: var(--first-color);
}
.home-button{
  justify-self: center;
}
/*!!!!!!!! button !!!!!!!!!*/
.button{
  background: var(--gradient-color);
  padding: .75rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  transition: box-shadow .4s;
  
}
.button i{
  font-size: 1.8rem;
  font-weight: inherit;
  color: var(--first-color);
}
.button:hover{
  box-shadow: 0px 12px 22px hsla(23, 49%, 42%, 0.424)
}

/*=====================main about page=========================================== */
.about-container{
  row-gap: 3.5rem;
}
.about-data{
  text-align: center;
}
.about-description{
  margin-bottom: 2.5rem;
}
.about-img{
  width: 220px;
  justify-self: center;
}
/*=====================main favorite page=========================================== */

.favorite-container{
  padding-top: 2rem;
}

.favorite-article{
  width: 220px;
  display: grid;
  justify-items: center;
  filter: blur(8px);
  scale: .8;
  transition: filter .3s, scale .3s;
}
.favorite-img{
  width: 220px;
  margin-bottom: 1.5rem;
}
.favorite-model{
  background: var(--gradient-color);
  padding: 0.5rem 1.5rem;
  border-radius: 4rem;
  color: var(--white-color);
}

/* !!!!! swiper class !!!!!*/
.swiper-slide-active,
.swiper-slide-duplicate-active{
  filter: blur(0);
  scale: .9;
}
/*        model   */
.model-container{
  padding-top: 2rem;
  row-gap: 2rem;
}
.model-content{
  position: relative;
  justify-self: center;
}
.model-img{
  width: 280px;
}

.model-tooltip-img{
  width: 60px;
}
.model-tooltip-text{
  background: var(--gradient-color);
  padding: .25rem .75rem;
  border-radius: 4rem;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  position: absolute;
  transform: translate(60px, -40px);
  white-space: nowrap;
}
.model-tooltip-1,
.model-tooltip-2{
  transform:scaleX(-1);
}
.model-tooltip-1 .model-tooltip-text,
.model-tooltip-2 .model-tooltip-text{
  transform: translate(64px ,-40px) scaleX(-1) ;
}
.model-tooltip{
  position: absolute;
}
.model-tooltip-1{
  top: 5.5rem;
  left: 5rem;
}
.model-tooltip-2{
  top: 1rem;
  right: 1.5rem;
}
.model-tooltip-3{
  bottom: 1.8rem;
  left: 3.5rem;
}
.model-tooltip-4{
  bottom: 7rem;
  right: 5rem;
}
.model-button{
  justify-self: center;
}

/*=========== sponsor ==============*/

.sponsor_img{
  width: 110px;
  transition: transform .4s;
}
.sponsor_img:hover{
  transform: scale(1.1);
}
.sponsor-container{
  padding-block: .5rem 4.5rem;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 5rem 4rem;
  align-items: center;

}

/*=========== footer ==============*/
.footer{
  padding-block: 2rem;
  overflow: hidden;
}
.footer-container{
  row-gap: 4rem;
}
.footer-logo{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.footer-data{
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
}
.footer-title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.footer-links{
  display: grid;
  row-gap: .75rem;
}
.footer-link{
  color: var(--text-color);
  transition: color .4s;
}
.footer-link:hover{
  color: var(--first-color);
}
.footer-inp-btn{
  grid-column: 1/3;
}
.footer-form{
  display: grid;
  row-gap: .9rem;
  margin-bottom: 2rem;
}
.input-form,
.btn-form{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  border: none;
  outline: none;
}
.input-form{
  width: 100%;
  padding: 1.15rem 1.25rem;
  border-radius: 4rem;
  background-color: var(--container-color);
  color: var(--text-color);
}
.btn-form{
  cursor: pointer;
}
.footer-social{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.footer-social-link{
  color: var(--white-color);
  font-size: 1.25rem;
  transition: color .4s;
}
.footer-social-link:hover{
  color: var(--first-color);
}
.footer-copy{
  color: var(--text-color);
  display: block;
  text-align: center;
  margin-top: 4rem;
  transition: color .4s;
}
.footer-copy:hover{
  color: var(--white-color);
}

/*=========== Scroll Bar ==============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: .5rem;
  background-color: hsl(23, 4%, 15%);
}
::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: hsl(25, 4%, 30%);
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(23, 4%, 40%);
}

/*=========== Scroll up ==============*/

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -3rem;
  background: var(--gradient-color);
  display: inline-flex;
  color: var(--white-color);
  font-size: 1.5rem;
  padding: 5px;
  border-radius: .28rem;
  transition: bottom .4s, transform .4s;
  scroll-behavior: smooth;
  margin-bottom: 7px;
}

.scrollup:hover {
  transform: translateY(-.5rem);
}

/*=========== show & hidden Scroll up ==============*/
.show-scrollup {
  bottom: 0rem;
  scroll-behavior: smooth;
}


@media (min-width: 600px) {
  .footer-data{
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-inp-btn{
    grid-column: initial;
  }
}

@media (min-width: 700px) {
   .home_img{
    width: 320px;
   }
   .home_title{
    font-size: 16rem;
    top: -4rem;
   }
   .home-social{
    top: 0;
    bottom: 0;
    align-content: center;
   }
   .sponsor-container{
    grid-template-columns: repeat(4, max-content);
   }
   
}
@media screen and (min-width: 1121px) {
  .container{
    margin-inline: auto;
  }
  .section{
    padding-block: 7rem 2rem;
  }
  .home{
    padding-block: 4rem 2rem;
  }
  .section__title {
    font-size: var(--h1-font-size);
  }
  .nav{
    height: calc(var(--header-height)+ 2rem);
  }
  .close_btn,
  .toggle_btn{
    display: none;
  }
  .nav_list{
    flex-direction: row;
    column-gap: 4.5rem;
  }
  .home-container{
    position: relative;
  }
  .home_img{
    width: 500px;
  }
  .home_title{
    font-size: var(--biggest-font-size);
    top: -6rem;
    column-gap: 1rem;
  }
  .home-tooltip{
    right: 6rem;
  }
  .tooltip-img{
    width: initial;
  }
  .tooltip-text{
    font-size: var(--normal-font-size);
    transform: translate(82px, -52px);
  }
  .social-text{
    font-size: var(--normal-font-size);   
  }
  .social-links{
    row-gap: 1rem;
  }
  .social-link{
    font-size: 1.5rem;
  }
  .home-button{
     position: absolute;
     bottom: 4.5rem;
  }
  .about-container{
    grid-template-columns: 400px 500px;
    align-items: center;
    column-gap: 9rem;
  }
  .about-description{
    text-align: initial;
    margin-bottom: 3.5rem;
  }
  .about-img{
    width: 500px;
  }
  .favorite-container{
    max-width: 1100px;
    margin-inline: auto;
  }
  .favorite-img{
    width: 500px;
  }
  .model-img{
    width: 500px;
  }
  .model-tooltip-img{
    width: initial;
  }
  .model-tooltip-text {
    font-size: var(--normal-font-size);
    padding: 0.5rem 1.25rem;
    transform: translate(82px , -56px);
  }
  .model-tooltip-1{
    top: 7.5rem;
    left: 8.5rem;
  }
  .model-tooltip-1 .model-tooltip-text{
    transform: translate(82px, -56px) scaleX(-1);
  }
  .model-tooltip-2{
    transform: initial;
    top: 6.5rem;
    right: -1.5rem;
  }
  .model-tooltip-2 .model-tooltip-text{
    transform: translate(82px , -56px);
  }
  .model-tooltip-3 {
   transform: scaleX(-1);
   left: 0;
   bottom: 6rem;
  }
  .model-tooltip-3 .model-tooltip-text{
    transform: translate(82px, -56px) scaleX(-1);
  }
  .model-tooltip-4{
    bottom: 10rem;
    right: 7rem;
  }
  .sponsor-container{
    column-gap: 7.5rem;
    padding-bottom: 6rem;
  }
  .sponsor_img{
    width: 140px;
  }
  .footer{
    padding-bottom: 3rem;
  }
  .footer-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  
  .footer-data{
    grid-template-columns: repeat(1fr, max-content);
  }
  .footer-link{
    font-size: 1.5rem;
  }
  .footer-title{
    font-size: var(--h3-font-size);
  }
  .footer-link{
    font-size: var(--font-medium);
  }
  
}